.layout {
  display: flex;
  height: calc(100vh - 60px);
}

.sidebar {
  width: 250px;
  background: #f1f5f9;
  padding: 1rem;
}

.content {
  flex: 1;
  padding: 1.5rem;
  overflow: auto;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 60px;
  background: #dde4ec;
  color: #111827;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  .right {
    padding-right: 15px;
  }
}
